// _base.scss
// ==========

* {
    font-family: 'IRANSansWebFaNum', 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: $main-bg-color;
    p {
        margin: 0 0.8rem 0.8rem;
        text-align: right;
    }
}

.box-shadow {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}