@font-face {
  font-family: 'IRANSansFaNum-Light';
  src: url('/IRANSansFaNum-Light.woff') format('woff'),
       url('/IRANSansFaNum-Light.ttf') format('truetype'),
       url('/IRANSansFaNum-Light.svg#IRANSansFaNum-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('/iransans.eot');
  src: url('/iransans.woff2') format('woff2'),
       url('/iransans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

