<mat-card id="ngo-main">

    <div class="card-bg-image" [style.background-image]="'url(' + ngo.images.ngo_banner_thumb + ')'"></div>

    <mat-card-header>
        <a mat-card-avatar routerLink="/{{ngo.public_name}}" [style.background-image]="'url(' + ngo.images.ngo_logo_thumb + ')'"></a>
    </mat-card-header> <!-- card header -->

    <mat-card-content>
        <div class="card-info">
            <mat-card-title>{{ ngo.name }}</mat-card-title>
            <mat-chip-list>
                <mat-chip *ngFor="let subject of ngo.subject" selected [color]="primary">{{ subject.subject }}
                </mat-chip>
            </mat-chip-list>
            <!--<mat-card-subtitle *ngFor="let title of ngo.title">{{ title.title }}</mat-card-subtitle>-->
        </div>
        <div>محدوده فعالیت: {{ ngo.area_of_activity }}</div>
        <div>وضعیت: {{ ngo.status }}</div>

    </mat-card-content>

    <mat-card-footer>
        <mat-expansion-panel id="address" dir="rtl">
            <mat-expansion-panel-header>
                <mat-panel-title>آدرس</mat-panel-title>
            </mat-expansion-panel-header>
            <div><span>استان: </span>{{ ngo.location.province }}</div>
            <div><span>شهرستان: </span>{{ ngo.location.city }}</div>
            <div>{{ ngo.location.address }}</div>
        </mat-expansion-panel>
    </mat-card-footer>

</mat-card>
<!-- card -->
<!--<div class="card-info"></div>-->
<!--<div class="card-profile-image"></div>-->
<!--<div class="extra-info"></div>-->

<mat-card id="ngo-details">
    <!--<div class="card-bg-image" [style.background-image]="'url(' + ngo.images.ngo_banner_thumb + ')'"></div>-->
    <mat-card-header>
        <!--<a mat-card-avatar href="#" [style.background-image]="'url(' + ngo.images.ngo_logo_thumb + ')'"></a>-->
    </mat-card-header> <!-- card header -->

    <mat-card-content>
        <!--<div class="card-info">-->
        <!--<mat-card-subtitle *ngFor="let title of ngo.title">{{ title.title }}</mat-card-subtitle>-->
        <!--</div>-->
        <div id="registration-specification">
            <div><span>شناسه ملی: </span>{{ngo.registration_specification.national_number}}</div>
            <div><span>تاریخ ثبت: </span>{{ngo.registration_specification.registration_date}}</div>
            <div><span>شماره ثبت: </span>{{ngo.registration_specification.registration_number}}</div>
            <div><span>سازمان ثبت کننده: </span>{{ngo.registration_specification.registration_unit}}</div>
        </div>
        <div id="ngo-phone-number-wrapper">
            <p>شماره های تماس</p>
            <div id="ngo-phone-number" *ngFor="let phone of ngo.phone" selected>
                <div>
                    <span>{{phone.label}}: </span>
                    {{ phone.phone_number}}
                </div>
            </div>
        </div>
    </mat-card-content>

    <mat-card-footer>
    </mat-card-footer>

</mat-card>
<!-- card -->
<!--<div class="card-info"></div>-->
<!--<div class="card-profile-image"></div>-->
<!--<div class="extra-info"></div>-->
