@import '../../../sass/variables';

.mat-card#ngo-main {
  font-family: inherit;
  text-align: center;
  //width: 216px;
  height: auto;
  //height: 436px;
  padding: 0px;
  margin: 0px auto 20px;
  .profile-background-image {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
    background: cover/center;
  }

  #card-ngo-banner-image {
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .mat-card-avatar {
    border: 3px solid $white;
    box-sizing: content-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    margin: -15% auto auto;
    width: 72px;
    height: 72px;
    background-clip: content-box;
    z-index: 99;
  }

  .mat-card-title {
    margin-top: 8px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
  }

  .mat-card-subtitle {
    margin-bottom: 4px;
    margin-left: 4px;
    line-height: 20px;
    font-size: 10px;
    font-weight: 400;
    float: right;
  }
  .card-info {
    padding: 0 24px 16px;
  }

  .mat-chip-list {
    /deep/ .mat-chip-list-wrapper {
      display: flex;
      justify-content: center;
    }
    .mat-chip {
      margin: 5px;
      font-size: 10px;
    }
  }

  .description {
    font-size: 9px;
  }

  /deep/ .mat-card-header-text {
    display: none;
  }

  .mat-card-footer {
    border-top: 1px solid rgba(0, 0, 0, .15);
    //padding: 12px 24px;
    margin: auto;
    p {
      margin: 0px;
      font-size: 14px;
    }
    #address {
      border: none;
      box-shadow: none;
      div {
        text-align: right;
        span {
          text-align: right;
          font-weight: 600;
        }
      };
    }
  }
}

#ngo-details {
  text-align: right;
  margin-bottom: 70px;
  #registration-specification {
    div {
      clear: left;
      span {
        text-align: right;
        font-weight: 600;
      }
    }
  }
  #ngo-phone-number-wrapper {
    p {
      font-weight: 600;
      margin: 15px 0px 0px;
    }
    #ngo-phone-number {
      font-size: 0.9rem;
    }
  }
}