<nav>
    <div class="nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">
                    <a href="#" class="brand-logo">
                        <img src="https://api.smndn.ir/v1/storage/default_images/samandoon-icon.png"
                             alt="Samandoon Icon">
                        | Samandoon
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="sass.html">خانه</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>