<app-base-page>
    <div class="row">

        <!--<aside class="col-3 left-col border">-->
        <!--&lt;!&ndash;<aside class="col-3 left-rail border">&ndash;&gt;-->
        <!--</aside> &lt;!&ndash; LEFT COL &ndash;&gt;-->

        <div class="col-7 offset-1 mid-col" dir="rtl">
            <div class="timeline-item">
                <div class="outer-body"></div>
                <div class="event-top-meta">
                    <p class="timeline-date">
                        {{event.event_date|datePersianDayName}}
                        <span class="date-divider"> | </span>
                        {{event.event_date|datePersian}}
                    </p>
                </div>
                <a class="event" routerLink="/event/{{event.id}}">
                    <h2>{{event.title}}</h2>
                    <div class="image-container">
                        <img class="event-img" src="{{event.image.event_image_thumb}}" alt="event image">
                        <div class="event-location">{{event.location.city}} / {{event.location.province}} /
                            {{event.location.address}}
                        </div>
                    </div>
                </a>
            </div>


        </div>

        <aside class="col-3">
            <!--<aside class="flex-column w-auto">-->
            <app-ngo-view [ngo]="event.ngo"></app-ngo-view>
        </aside> <!-- RIGHT COL -->
    </div> <!-- ROW -->
</app-base-page>
