<app-base-page>
    <div class="row">

      <!--<aside class="col-3 left-col border">-->
      <!--&lt;!&ndash;<aside class="col-3 left-rail border">&ndash;&gt;-->
      <!--</aside> &lt;!&ndash; LEFT COL &ndash;&gt;-->

      <div class="col-7 offset-1 mid-col" dir="rtl">
      <!--<div class="col-5 core-rail" dir="rtl">-->
        <mat-tab-group>
          <mat-tab label="نوشته ها">
            <div class="activity-box-divider"></div>
          <app-article-list-view [ngo]="ngo"></app-article-list-view>
          </mat-tab>
          <mat-tab label="رخداد ها">
            <div class="activity-box-divider"></div>
            <app-event-list-view [ngo]="ngo"></app-event-list-view>
          </mat-tab>
        </mat-tab-group>
      </div> <!-- CENTER COL -->

      <aside class="col-3">
      <!--<aside class="flex-column w-auto">-->
        <app-ngo-view [ngo]="ngo"></app-ngo-view>
      </aside> <!-- RIGHT COL -->

    </div> <!-- ROW -->
</app-base-page>

