@import "../../../sass/variables";

.activity-tab-select {
  background-color: $white;
  border-radius: 2px;
  padding: 16px 16px 0;
}

.activity-title {
  font-size: 18px;
  font-weight: 500;
}

.activity-box-divider {
  min-height: 10px;
  width: 100%;
  background-color: $main-bg-color;
}

/deep/ .mat-tab-group {
  //width: 500px;
  margin-bottom: 70px;
}

/deep/ .mat-tab-header {
  border-radius: 2px;
  padding: 16px 16px 0;
  background-color: $white !important;
  background-clip: padding-box !important;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2) !important;
  transition: box-shadow 83ms !important;
}

.col-7 {
  overflow: visible;
}