<div id="comment-meta">
    <div id="comment-creator-avatar"
         [style.background-image]="'url(' + comment.creator_data.images.avatar_thumb + ')'"></div>
    <div id="creator-name">{{comment.creator_data.first_name}} {{comment.creator_data.last_name}}</div>
    <!--<div>{{comment.ngo_data.name}}</div>-->
    <div id="comment-created-at">{{comment.created_at | datePersian}}</div>
    <!--<div id="creator-ngo"><div ng-if="ngo.name">{{ngo.name}}</div></div>-->
</div>
<div id="comment-body">{{comment.body}}</div>