<div id="article-title-divider"></div>
<mat-card>
    <!--<div class="article-like-count">{{article.like_count}}<mat-icon>thumb_up</mat-icon></div>-->
    <mat-card-header>
    </mat-card-header> <!-- card header -->

    <a class="article" routerLink="/article/{{article.id}}">
        <div class="post-wrapper">
            <div class="post-image-container">
                <img src="{{article.image.article_image}}" alt="Photo of Article">
            </div>
            <div class="post-meta-container">
                <h4 id="title">{{ article.title }}</h4>
                <div class="article-description">
                    <div id="created-at">
                        {{ article.created_at | datePersianMonthLetter }}
                        {{ article.created_at | datePersianYear }},{{ article.created_at | datePersianDayNumber }}
                    </div>
                    <div class="article-count-divider">/</div>
                    <div class="article-count">
                        <div class="counts">{{article.seen_count}}</div>
                        <mat-icon>remove_red_eye</mat-icon>
                    </div>
                    <div class="article-count-divider">/</div>
                    <div class="article-count">
                        <div class="counts">{{article.like_count}}</div>
                        <mat-icon>thumb_up</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <mat-card-content>
    </mat-card-content>
    <!--<mat-card-actions>-->
    <!--<button mat-button>پسندیدم</button>-->
    <!--<button mat-button>اشتراک گذاری</button>-->
    <!--</mat-card-actions>-->
    <!--<mat-card-footer>-->
    <!--</mat-card-footer>-->
</mat-card>  <!-- card -->
<!--</div>-->
