/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: 'iran-sans';
  src: url('assets/fonts/iransans.ttf');
}

body{
  font-family: iran-sans;
  direction: rtl;
}

// Import any aditional css here and put them into builds/css
/////////////

// Core partials
@import "/sass/variables";
@import "/sass/mixins";
@import "/sass/base";
@import "/sass/modules";
